<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hawaii.ics414.icalendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/calplusicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.hawaii.ics414.icalendar.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.hawaii.ics414.icalendar.CalendarViewActivity"
            android:label="@string/title_activity_calendar_view"
            android:parentActivityName="edu.hawaii.ics414.icalendar.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.hawaii.ics414.icalendar.MainActivity" />
        </activity>
        <activity
            android:name="edu.hawaii.ics414.icalendar.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="edu.hawaii.ics414.icalendar.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.hawaii.ics414.icalendar.MainActivity" />
        </activity>
        <activity
            android:name="edu.hawaii.ics414.icalendar.TimePickerActivity"
            android:label="@string/title_activity_time_picker"
            android:parentActivityName="edu.hawaii.ics414.icalendar.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.hawaii.ics414.icalendar.MainActivity" />
        </activity>
    </application>

</manifest>
